.df-wrapper{
    height: 600px;
    border: solid red;
    background-color: rgb(237, 240, 245);
}

.df-searchbar{
    border-bottom: rgb(229, 231, 235) solid 2px;
}

.df-searchbar-search-icon{
    color: rgb(204, 0,0);
}

input{
    border: solid red 1px ;
    outline: none;
}