.infotable-wrapper{
    border-bottom: solid rgb(217, 217, 217) 1px ;
    border-top: solid rgb(217, 217, 217) 1px ;
    display: grid;
    grid-template-columns: 25px 1fr 1fr 25px;
    grid-template-rows: 25px 1fr 1fr 1fr 25px;
    grid-template-areas: 
    '. . . .'
    '. one two .'
    '. three four .'
    '. five six .'
    '. . . .';
}

.infotable-option{
    font-size: .9em;
    text-align: center;
    height: 120px;

    &.one{
        grid-area: one;
        border-right: solid rgb(217, 217, 217) 1px ;
        border-bottom: solid rgb(217, 217, 217) 1px ;
    }

    &.two{
        grid-area: two;
        border-bottom: solid rgb(217, 217, 217) 1px ;
    }

    &.three{
        grid-area: three ;
        border-right: solid rgb(217, 217, 217) 1px ;
        border-bottom: solid rgb(217, 217, 217) 1px ;
    }

    &.four{
        grid-area: four;
        border-bottom: solid rgb(217, 217, 217) 1px ;
    }

    &.five{
        grid-area: five;
        border-right: solid rgb(217, 217, 217) 1px ;
    }

    &.six{
        grid-area: six;

    }
}

.infotable-icon{
    font-size: 3em;
    padding: 10px;
    transition: ease-in .075s;
    color: rgb(204,0,0);
}

.infotable-icon:hover{
    transition: ease-out .075s;
    scale: 1.2;
    color: rgb(129, 0, 0);
}

@media only screen and (min-width: 600px){
    .infotable-wrapper{
        border-bottom: solid rgb(217, 217, 217) 1px ;
        border-top: solid rgb(217, 217, 217) 1px ;
        display: grid;
        grid-template-columns: 25px 1fr 1fr 25px;
        grid-template-rows: 25px 1fr 1fr 25px;
        grid-template-areas: 
        '. . . .'
        '. one three .'
        '. four five .'
        '. . . .';
    }

    .infotable-option{

        &.three{
            border-right: none;
        }

        &.four{
            border-right: solid rgb(217, 217, 217) 1px ;
            border-bottom: none;
        }

        &.five{
            border-right: none;
        }
    }
}

@media only screen and (min-width: 950px){
    .infotable-wrapper{
        border-bottom: solid rgb(217, 217, 217) 1px ;
        border-top: solid rgb(217, 217, 217) 1px ;
        display: grid;
        grid-template-columns: 25px 1fr 1fr 1fr 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
        grid-template-areas: 
        '. . . . . .'
        '. one three four five .'
        '. . . . . .';
    }

    .infotable-option{
        display: grid;
        grid-template-columns: auto auto;
        font-size: .9em;
        height: 50px;

        &.one{
            border-bottom: none;
        }

        &.three{
            border-right: solid rgb(217, 217, 217) 1px ;
            border-bottom: none;
        }

        &.four{
            border-right: solid rgb(217, 217, 217) 1px ;
            border-bottom: none;
        }

        &.five{
            border-right: none;
            border-bottom: none;
        }
    }

    .infotable-icon{
        padding: 0;
        justify-self: end;
        align-self: center;
        padding-right: 5px;
    }
    
    .infotable-text{
        justify-self: baseline;
        align-self: center;
        padding-left: 5px;

    }
}