.mf-button-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(37, 37, 37);
}

.mf-button{
    justify-self: center;

    &.red{
        padding: 15px 0 10px 0;
        button{
            background-color: rgb(204, 0, 0);
            border: rgb(204, 0, 0) solid;
            color: rgb(243, 243, 243);
        }
    }

    &.white{
        padding: 10px 0 15px 0;
        button{
            background-color: rgb(237, 240, 245);
            border: rgb(237, 240, 245) solid;
            color: rgb(37, 37, 37);
        }
    }

    button{
        width: 90vw;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        font-size: .8em;
    }
}

@media only screen and (min-width: 600px){
    .mf-button-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mf-button{
        justify-self: center;
    
        &.red{
            padding: 15px 0 15px 0;
            button{
                background-color: rgb(204, 0, 0);
                border: rgb(204, 0, 0) solid;
                color: rgb(243, 243, 243);
            }
        }
    
        &.white{
            padding: 15px 0 15px 0;
            button{
                background-color: rgb(237, 240, 245);
                border: rgb(237, 240, 245) solid;
                color: rgb(37, 37, 37);
            }
        }
    
        button{
            width: 45vw;
            height: 50px;
            border-radius: 50px;
            cursor: pointer;
            font-size: .8em;
        }
    }
}

//-------

.mf-accordion-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;
    .mf-accordion-icon{
        transition: .15s;
        rotate: (0deg);
    }
}

.mf-accordion-summary-selected{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;

    .mf-accordion-icon{
        rotate: (45deg);
        transition: .15s;
    }
}

.mf-accordion-icon{
    color: rgb(204, 0, 0);
}

.mf-accordion-details{
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    width: 100%;
}

.mf-accordion-option{
    grid-column: 2/3;
    height: 60px;
    display: grid;
    align-content: center;
    border-bottom: dotted rgba(37, 37, 37, 0.151) 1px;
}

//-----

.mf-footer-wrapper{
    display: grid;
}

.mf-footer-logos{
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    padding: 20px 0 0 0;

    .mf-footer-toyota-logo{
        align-self: center;
        background-color: red;
        width: 40px;
        height: 40px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .mf-footer-toyota-text{
        align-self: center;
        border-right: black solid 1px;
        margin: 0 5px 0 0;
    }

    .mf-footer-title{
        padding: 10px 0 0 0;
        grid-column: 1/6;
        justify-self: center;
        font-size: .8em;
    }
}

.mf-footer-socials{
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 25px 0 0 0;
    img{
        margin: 0 5px 0 5px;
        cursor: pointer;
    }
}

.mf-footer-info{
    margin-bottom: 15px;
    .mf-footer-one{
        color: rgb(204, 0, 0);
        padding: 20px 0 0 25px;
        cursor: pointer;

        :hover{
            color: rgb(153, 0, 0);
        }
    }
    .mf-footer-two{
        font-size: .8em;
        padding: 0 0 0 25px;
        cursor: pointer;
        color: rgb(140, 140, 140);

    }
    .mf-footer-three{
        font-size: .8em;
        display: flex;
        flex-direction: row;
        padding: 15px 0 5px 15px;
        color: rgb(140, 140, 140);

        .mf-footer-three-1{
            padding: 0 10px 0 10px;
            border-right: solid black 1px;
        }
        .mf-footer-three-2{
            padding: 0 10px 0 10px;
            border-right: solid black 1px;
        }
        .mf-footer-three-3{
            padding: 0 10px 0 10px;
            border-right: solid black 1px;
        }
        .mf-footer-three-4{
            padding: 0 10px 0 10px;
        }
        p{
            margin: 0;
            cursor: pointer;
        }
    }
    .mf-footer-four{
        font-size: .7em;
        padding: 0 25px 0 25px;
        color: rgb(140, 140, 140);
        p{
            line-height: 2;
        }
    }
    .mf-footer-five{
        font-size: .8em;
        padding: 0 0 0 25px;
        cursor: pointer;
        color: rgb(204, 0, 0);
        
    }
}