.mf-button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #252525;
}

.mf-button {
  -ms-grid-column-align: center;
      justify-self: center;
}

.mf-button.red {
  padding: 15px 0 10px 0;
}

.mf-button.red button {
  background-color: #cc0000;
  border: #cc0000 solid;
  color: #f3f3f3;
}

.mf-button.white {
  padding: 10px 0 15px 0;
}

.mf-button.white button {
  background-color: #edf0f5;
  border: #edf0f5 solid;
  color: #252525;
}

.mf-button button {
  width: 90vw;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: .8em;
}

@media only screen and (min-width: 600px) {
  .mf-button-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .mf-button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .mf-button.red {
    padding: 15px 0 15px 0;
  }
  .mf-button.red button {
    background-color: #cc0000;
    border: #cc0000 solid;
    color: #f3f3f3;
  }
  .mf-button.white {
    padding: 15px 0 15px 0;
  }
  .mf-button.white button {
    background-color: #edf0f5;
    border: #edf0f5 solid;
    color: #252525;
  }
  .mf-button button {
    width: 45vw;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: .8em;
  }
}

.mf-accordion-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mf-accordion-summary .mf-accordion-icon {
  -webkit-transition: .15s;
  transition: .15s;
  rotate: 0deg;
}

.mf-accordion-summary-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mf-accordion-summary-selected .mf-accordion-icon {
  rotate: 45deg;
  -webkit-transition: .15s;
  transition: .15s;
}

.mf-accordion-icon {
  color: #cc0000;
}

.mf-accordion-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 1fr 15px;
      grid-template-columns: 15px 1fr 15px;
  width: 100%;
}

.mf-accordion-option {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: dotted rgba(37, 37, 37, 0.151) 1px;
}

.mf-footer-wrapper {
  display: -ms-grid;
  display: grid;
}

.mf-footer-logos {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto 1fr;
      grid-template-columns: auto auto auto auto 1fr;
  padding: 20px 0 0 0;
}

.mf-footer-logos .mf-footer-toyota-logo {
  -ms-grid-row-align: center;
      align-self: center;
  background-color: red;
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mf-footer-logos .mf-footer-toyota-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-right: black solid 1px;
  margin: 0 5px 0 0;
}

.mf-footer-logos .mf-footer-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: .8em;
}

.mf-footer-socials {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  padding: 20px 0 0 0;
}

.mf-footer-socials img {
  padding: 0 5px 0 5px;
}
/*# sourceMappingURL=MobFooter.css.map */