$red : rgb(235, 10, 30);

.header-wrapper{
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 10px 40px 10px;
    
    .header-logo{
        grid-row: 2/3;
        display: grid;

        .header-logo-box{
            align-self: center;
            padding: 6px;
            margin: 0 0 0 10px;
            background-color: $red;
            display: grid;
            
            img{
                justify-self: center;
                align-self: center;
            }
        }
    }

    .header-toyota{
        grid-row: 2/3;
        padding: 3px 0 0 0;
    }

    .header-olympics{
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10px 0 10px;
        border-left: black thin solid;

        img{
            justify-self: center;
            align-self: center;
        }
    }

    .header-nav{
        grid-row: 2/3;
        justify-self: end;
        align-self: center;

        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        padding: 0 8px 0 8px;

        .header-nav-location{
            display: grid;
            padding-right: 10px;
            img{
                justify-self: center;
                align-self: center;
            }
            
            p{
                grid-row: 2/3;
                margin: 0;
                font-size: .7em;
            }
        }

    }

    .menu{
        position: fixed;
        z-index: 2;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media only screen and (min-width: 837px){
    .header-wrapper{
        grid-template-columns: auto auto auto 1fr;
        grid-template-rows: auto 10px 40px 10px;
        position: relative;

        .header-secondary-wrapper{
            grid-column: 1/5;
            grid-row: 1/2;
            background-color: rgb(245,245,245);
            display: grid;
            justify-content: center;
            border-bottom: rgb(217, 217, 217) solid 1px;
        }
        .header-secondary{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color: rgb(89, 89, 91);
            padding: 10px 0 10px 0;
            width: 100vw;
            max-width: 950px;
            
            .header-secondary-select{
                padding: 0 10px 0 10px;
                font-size: .7em;
                border-right: rgb(217, 217, 217) solid 1px;

                &.last{
                    border-right: none;
                }

                div{
                    cursor: pointer;
                }
            }
        }

        .header-logo{
            grid-row: 3/4;
        }

        .header-toyota{
            grid-row: 3/4;
            border-right: black thin solid;
        }

        .header-olympics{
            grid-column: 3/4;
            grid-row: 3/4;
            border: none;
            
        }

        .header-nav-two{
            display: none;
            grid-row: 2/5;
            justify-self: end;
    
            display: flex;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
    
            .header-nav-two-select{
                padding: 0 8px 0 8px;
                font-size: .9em;
                padding: 0 8px 0 8px;
                align-self: center;
                display: flex;
                color: rgb(89, 89, 91);
                cursor: pointer;
                &:hover{
                    color: rgb(204, 0,0);
                }
    
                div{
                    padding: 0 5px 0 5px;
                }
            }
    
            .header-nav-two-red{
                background-color: rgb(240, 0, 0);
                color: white;
                display: grid;
                padding: 0 8px 0 8px;
                font-size: .9em;
                cursor: pointer;

                &:hover{
                    background-color: rgb(140,26,17);
                }

                div{
                    align-self: center;
                }
            }
    
        }
    }

    .menu-open-shop{
        position: absolute;
        z-index: 2;
        top: 94px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .menu-open-cars{
        position: absolute;
        z-index: 2;
        top: 94px;
        left: 0;
        right: 0;
        bottom: 0;
    }

}