
.hm-wrapper{
    height: 100vh;
    background-color: white;
    border-top: rgb(232, 232, 232) solid 1px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto auto auto auto auto 1fr;

    .nav-title{
        grid-column: 1/4;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: rgb(119, 119, 119);
        border-bottom: rgb(232, 232, 232) solid 1px;

        .nav-choices-arrow{
            justify-self: baseline;
            cursor: pointer;
        }

        .nav-title-name{
            justify-self: center;
            font-size: 1.2em;
        }

        h2{
            margin: 0;
        }
    }

    .nav-choices{
        grid-column: 2/3;
        border-bottom: rgb(232, 232, 232) solid 1px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 10px;
        cursor: pointer;

    }
}