.cam-wrapper{
    padding: 25px 0 25px 0;
    display: grid;
}

.cam-car-display{
    background-color: rgb(255,255,255);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: center;
    width: 100%;
    max-width: 950px;

    &.more{
        background-color: rgb(245,245,245);
    }
}

.cam-car-option-wrapper{
    text-align: start;
    // border: solid green 1px;
    margin: 0 0 20px 0;
    cursor: pointer;

    &:hover{
        .cam-car-option-name{
            color: rgb(240,0,0);
        }
        .cam-car-option-more{
            color: rgb(240,0,0);

            &::after{
                content: '\00000a VIEW MORE INFO >';
                font-size: .8em;
                font-weight: lighter;
                white-space: pre;
            }
        }
    }
}

.cam-car-option-image{
    height: 100px;
    img{
        // height: 80px;
    }
}

.cam-car-option-name{
    font-weight: bold;
    font-size: .9em;
    max-width: 150px;
}

.cam-car-option-price{
    font-size: .85em;
}

.cam-car-option-mpg{
    font-size: .85em;
}

.cam-car-option-more{
    font-weight: bold;

}